<app-navbar></app-navbar>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<form name="search" (submit)="find()">
  Search for a Movie: <br>
  <input type="text" id="moviename" name="moviename" [(ngModel)]="moviename"><br>
  <input type="submit" value="Search">
</form>
<div *ngIf="searched">
  <img src="{{movies.Poster}}">
  <form *ngIf="signedin" ngNativeValidate>
    <div *ngIf="found">
        Title: <br>
        <input type="text" name="title" id="title" value="{{movies.Title}}" readonly><br>
        Year: <br>
        <input type="text" name="year" id="year" value="{{movies.Year}}" readonly><br>
        Rating: <br>
        <div class="stars">
        <input class="star star-5" id="star-5" type="radio" name="star" [(ngModel)]="rate" value="5"/>
        <label class="star star-5" for="star-5"></label>
        <input class="star star-4" id="star-4" type="radio" name="star" [(ngModel)]="rate" value="4"/>
        <label class="star star-4" for="star-4"></label>
        <input class="star star-3" id="star-3" type="radio" name="star" [(ngModel)]="rate" value="3"/>
        <label class="star star-3" for="star-3"></label>
        <input class="star star-2" id="star-2" type="radio" name="star" [(ngModel)]="rate" value="2"/>
        <label class="star star-2" for="star-2"></label>
        <input class="star star-1" id="star-1" type="radio" name="star" [(ngModel)]="rate" value="1"/>
        <label class="star star-1" for="star-1"></label>
        </div>
        <br>
        Review: <br>
        <input type="text" name="review" id="review" [(ngModel)]="review" required><br>
        <input type="submit" (click)="submit()" value="Add Review">
      </div>
      <div *ngIf="!found" class="error">
        <p>This movie does not exist!</p>
      </div>
    </form>
    <div *ngIf="!signedin" class="error">
    <p>Please Sign In to add a Review</p>
    </div>
</div>